$slider-line-height: 20px !default;
$slider-border-radius: 4px !default;
$slider-horizontal-width: 210px !default;
$slider-vertical-height: 210px !default;

// Primary colors
$slider-primary: null !default;
@if variable-exists(brand-primary) {
  $slider-primary: $brand-primary !default;
} @else {
  $slider-primary: #0480be !default;
}

$slider-primary-top: $slider-primary !default;
$slider-primary-bottom: darken($slider-primary, 5%) !default;
$slider-secondary-top: saturate(lighten($slider-primary, 28%), 20%) !default;
$slider-secondary-bottom: saturate(lighten($slider-primary, 23%), 2%) !default;

// grays for slider channel and disabled states
$slider-gray-1: #bebebe !default;
$slider-gray-2: #dfdfdf !default;
$slider-gray-3: #e5e5e5 !default;
$slider-gray-4: #e9e9e9 !default;
$slider-gray-5: #f5f5f5 !default;
$slider-gray-6: #f9f9f9 !default;

// unicode color for demo page
$slider-unicode-color: #726204 !default;