//
// Variables
// --------------------------------------------------

//
// Colors
//
@triangle-border-color: #0480BE;

@slider-disabled-handle-gradient-start: #DFDFDF;
@slider-disabled-handle-gradient-end: #BEBEBE;

@slider-disabled-track-gradient-start: #E5E5E5;
@slider-disabled-track-gradient-end: #E9E9E9;

//
// Dimensions
//
@slider-default-size: 210px;
@slider-line-height: @line-height-computed;

//
// Unicode Characters
//
@unicode-star: '\2605';