//
// Variables
// --------------------------------------------------

//
// Colors
//
@triangle-border-color: #0480BE;

//
// Dimensions
//
@slider-default-size: 210px;
@slider-line-height: @line-height-computed;

//
// Unicode Characters
//
@unicode-star: '\2605';